.blue-post-container {
    background: #181818;
    border: 1px solid #4b4b4b;
    border-radius: 2px;
    padding: 10px;
}

.blue-post-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bluepost-color {
    color: #00c0ff;
    cursor: pointer;
}

.bluepost-color:hover {
    color: #ccedf8;
}
